<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>supabase-auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>makuli</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1041901617533-3em3ts55r31abv75dvjsde0hq58mgbdu</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>&lt;key&gt;CFBundleURLTypes&lt;/key&gt;
&lt;array&gt;
    &lt;dict&gt;
        &lt;key&gt;CFBundleURLName&lt;/key&gt;
        &lt;string&gt;supabase-auth&lt;/string&gt;
        &lt;key&gt;CFBundleURLSchemes&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;makuli&lt;/string&gt;
        &lt;/array&gt;
    &lt;/dict&gt;
    &lt;dict&gt;
        &lt;key&gt;CFBundleURLName&lt;/key&gt;
        &lt;string&gt;google-sign-in&lt;/string&gt;
        &lt;key&gt;CFBundleURLSchemes&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;YOUR_REVERSED_GOOGLE_CLIENT_ID&lt;/string&gt;
        &lt;/array&gt;
    &lt;/dict&gt;
&lt;/array&gt;</string>
</dict>
</plist>
